node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
Authorized-performance-reports
Unauthorized-performance-reports
cpu
.vscode
.env
/performance-report/folderStructure.json
/allure-report
/allure-results
