name: Playwright Tests
on:
  push:
    branches: [ master ] 
  pull_request:
    branches: [ main ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    strategy:
      matrix:
        config:
          - { type: "Auth" }
          - { type: "UnAuth" }
    container:
      image: mcr.microsoft.com/playwright:v1.49.1-noble
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies for canvas
      run: |
        apt-get update
        apt-get install -y libcairo2-dev libjpeg-dev libpango1.0-dev libgif-dev build-essential g++
        apt-get install -y default-jdk
    - name: Install dependencies
      run: | 
        npm ci
        npm install -g allure-commandline
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    
    - name: Run Playwright Performance tests
      env:
        EMAIL: ${{ secrets.EMAIL }}
        PASSWORD: ${{secrets.PASSWORD}}
        SUPABASE_URL: ${{secrets.SUPABASE_URL}}
        SUPABASE_TOKEN: ${{secrets.SUPABASE_TOKEN}}
        DB_SUPABASE_URL: ${{secrets.DB_SUPABASE_URL}}
        DB_SUPABASE_TOKEN: ${{secrets.DB_SUPABASE_TOKEN}}
        DB_SUPABASE_BUCKET_NAME: ${{secrets.DB_SUPABASE_BUCKET_NAME}}
        DEVICE_TYPE: ${{matrix.config.type}}
      run: npm run test:${{ matrix.config.type }}

    - name: Merge test results
      env:
        DEVICE_TYPE: ${{ matrix.config.type }}
        SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
        SUPABASE_TOKEN: ${{ secrets.SUPABASE_TOKEN }}
      run: node merge-results.js

    - name: Upload merged result JSON
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: merged-results-${{ matrix.config.type }}
        path: test-results/merged-results-${{ matrix.config.type }}.json

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: blob-report-${{ matrix.config.type }}
        path: blob-report

    - name: Upload Allure results
      if: success() || failure()
      uses: actions/upload-artifact@v4
      with:
        name: allure-results-${{ matrix.config.type }}
        path: allure-results/
        retention-days: 1

    continue-on-error: true   